USE [master]
GO
/****** Object:  Database [burger]    Script Date: 4/29/2019 10:39:36 AM ******/
CREATE DATABASE [burger]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'burger', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\burger.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'burger_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\burger_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [burger].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [burger]
GO
/****** Object:  Table [dbo].[Burger]    Script Date: 4/29/2019 10:39:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Burger](
	[Burger_id] [int] IDENTITY(1,1) NOT NULL,
	[Burger] [nchar](20) NULL,
 CONSTRAINT [PK_Burger] PRIMARY KEY CLUSTERED 
(
	[Burger_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fries]    Script Date: 4/29/2019 10:39:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fries](
	[Fries_id] [int] IDENTITY(1,1) NOT NULL,
	[Fries] [nchar](10) NULL,
 CONSTRAINT [PK_Fries] PRIMARY KEY CLUSTERED 
(
	[Fries_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[main]    Script Date: 4/29/2019 10:39:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[main](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
	[Burger_id] [int] NULL,
	[Fries_id] [int] NULL,
 CONSTRAINT [PK_main] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[main]  WITH CHECK ADD  CONSTRAINT [FK_main_Burger] FOREIGN KEY([Burger_id])
REFERENCES [dbo].[Burger] ([Burger_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[main] CHECK CONSTRAINT [FK_main_Burger]
GO
ALTER TABLE [dbo].[main]  WITH CHECK ADD  CONSTRAINT [FK_main_Fries] FOREIGN KEY([Fries_id])
REFERENCES [dbo].[Fries] ([Fries_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[main] CHECK CONSTRAINT [FK_main_Fries]
GO
USE [master]
GO
